
.main {
    width: 100%;
    margin: auto;
  }

  .col {
    width: 24%;
    margin: 0.5%;
    float: left;
    text-align: center;
  }

  .col img {
    width: 100%;
  }
  /* Extra small devices (phones) */
  @media (max-width: 576px) {
    .main {
      width: 100%;
    }

    .col {
      width: 48%;
      margin: 1%;
    }
  }
  /* Small devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .main {
      width: 100%;
    }

    .col {
      width: 48%;
      margin: 1%;
    }
  }
  /* Medium devices (laptops and desktops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .main {
      width: 100%;
    }

    .col {
      width: 48%;
      margin: 1%;
    }
  }