.img-bar {
  width: 27px;
}
.anchor a {
  text-decoration: none;
  color: #000;
}

.anchor a:hover {
  color: #7f187f;
}

.Menu-color {
  color: #7f187f;
  font-size: 1.2rem;
}
.search {
  width: 620px;
}

@media (min-width: 162px) and (max-width: 576px) {
  .search {
    order: 1; /* Place the search div at the bottom */
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0 0 0;
  }
  .display {
    display: none;
  }
  .display-menu {
    display: none;
  }
  .sign-display{
    display: none;
    padding: 0 5px 0 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .search {
    order: 1; /* Place the search div at the bottom */
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0 0 0;
    width: 100%;
  }

  .d-flex{
    display: flex;
    justify-content: space-between;
  }
  .display-menu {
    display: none;
  }
  .display{
    display: none;
  }
  .sign-display{
    padding: 0 10px 0 0;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .display {
    display: none;
  }
  .display-menu {
    display: none;
  }
  .search {
    width: 370px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .sign-display{
    display: none;
  }
}
