.img-bar {
  width: 27px;
}
.anchor a:hover {
  color: #7f187f !important;
}
.Menu-style:hover {
  color: hsl(300, 68%, 30%);
} 
.search {
  width: 620px;
}
.button-color{
  color: #7f187f;
  outline: 1px solid #7f187f;
  background-color: white;
}
@media (min-width: 162px) and (max-width: 576px) {
  .search {
    order: 1; 
  }
  .display {
    display: none;
  }
  .display-menu {
    display: none;
  }
  .sign-display {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .search {
    order: 1;
    width: 100%;
  }
  .display-menu {
    display: none;
  }
  .display {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .display {
    display: none;
  }
  .display-menu {
    display: none;
  }
  .search {
    width: 370px;
  }
  .sign-display {
    display: none;
  }
}
