.title-bg{
    background-color: #7F187F;
}

@media (min-width: 162px) and (max-width: 576px){
.text-display{
    display: none;
}
.txt-center{
    text-align: center;
}
}

@media (min-width: 577px) and (max-width: 768px) {
    .text-display{
        display: none;
    }
    .txt-center{
        padding-left: 9rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .title-size{
        font-size: 14.2px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

}