.back-color{
    background-color: #934398;
    color: white;
    border: none;
}

.img-width{
    width: 35px;
    padding: 0 5px;
}

.para-style p{
    font-family: sofia, sofiaFallback, arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #211e22;
  }

  .span-style img{
    width: 50px;
  }
  .twit{
    width: 20px;
  }
  .face{
width: 35px;
  }

  .insta{
width: 27px;
  }
  .pin{
width: 20px;
  }