.img-width {
  width: 35px;
}
.flex-style{
  display: flex;
}
.p{
  padding: 0 2rem;
} 
@media(max-width: 576px) {
  .imges-p{
    padding: 2rem 0;
  }
   .flex-style{
    display: block;
  }
  .p{
    padding: 3rem 0;
  }
}