
.input,input{
    width: 42%;
}

.button{
    background-color: #7f187f !important;
}

.Sign_hero_width{
    height: 480px;
}
.alignment{
    text-align: center;
}

.style{
    font-family: sofia, sofiaFallback, arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #211e22;
}
@media (max-width: 576px) {
    .input,input{
        width: 100%;
    }
    .alignment{
        text-align: center;
    }
}