.color p {
  color: #c4113f;
  text-decoration: solid;
}

.color-b{
    color: #000;
    text-decoration: none;
}
.color-b:hover{
    color: #934893;
    text-decoration: solid;
}
@media (max-width: 576px) {
  .header-display {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .header-display {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 922px) {
  .header-display {
    display: none;
  }
}
