.color p {
  color: #c4113f;
}

.hover:hover{
  color: #7F187F !important;
  text-decoration: underline !important;
}

@media (max-width: 576px) {
  .header-display {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .header-display {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 922px) {
  .header-display {
    display: none;
  }
}
