@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap');
.font-family{
  font-family: sofia, sofiaFallback, arial, sans-serif;
  font-weight: 700;
  font-size: 31px;
  color: #211e22;
}

.para-style{
  font-family: sofia, sofiaFallback, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #211e22;
}

.card-heading{
    font-family: sofia, sofiaFallback, arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #211e22;

}

.image img:hover {
  opacity: 0.9;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 8px;
  border-radius: 15px;
}
.image img{
  border-radius: 10px;
}

.cards:hover{
  opacity: 0.9;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px;
}
.bg-color{
  background-color: #7f187f;
}